* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a:hover, a:active{
    background-color: #4aaaa5;
}

    .header {
        border-bottom: 1px solid gray;
        padding: 0, 20px;
        background-color:white;
        overflow: auto;    
  }

    #myname{
        padding: 30px;
        background-color: #4AAAA5;
        float: left;
        color: white;
        font-size: 32px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }  

    .AboutMe{
        color: #4AAAA5;
        float: left;
        font-size: 32px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .biopara{
        line-height: 2;
        padding: 10px;
        opacity: .8;
        color: #777777;
        font-family: Arial, Helvetica, sans-serif;
    }

    #biopic{
        float: left;
        margin-right: 5px;
    }

  body{
      background-image: url(../images/gravel.png);
      padding: 0px;
      margin: 0px;
      overflow: auto;
      height: 1300px;
      width: auto;
  }

  .inner{
      width: 960px;
      margin: 0 auto;
      overflow: auto;
  }

  .content{
      background-color: white;
      border: 1px solid grey;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px;
      font-family: Arial, Helvetica, sans-serif;
  }

  hr{
      margin: 10px 0;
  }

  #links{
      float: right;
  }
  
  a{
      text-decoration: none;
      color: #777777;
  }

  #links li{
    display: inline-block;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }


  .contact-form .text-input, .contact-form label, .contact-form textarea{
        width: 100%;
        display: block;
        margin-bottom: 10px;
  }

  .contact-form textarea{
        height: 350px;
  }


  .footer{
      padding: 20px;
      border-top: 5px solid;
      border-color: #4AAAA5;
      text-align: center;
      background-color: #666666;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: grey;
  }

  .imagesection{
      position: relative;
  }

    #img1{
        position:absolute;
        z-index: 1;
        object-fit: contain;
        size: 10px, 20px;
    }

    #portfoliobox {
        position: relative;
        height: 935px;
        width: 960px;
        z-index: 0;
    }

    #text1{
        position: absolute;
        z-index: 2;
        /* margin-top: 400px; */
        background-color: #4AAAA5;
    }
    #pic1 {
        position: absolute;
        top: 10%;
        left: 3%;
        z-index: 1;
        padding-bottom: 40px;
    }
    
    #pic2 {
        position: absolute;
        top: 10%;
        left: 35.5%;
        padding-bottom: 40px;
    }
    
    #pic3 {
        position: absolute;
        top: 36.5%;
        left: 3%;
        padding-bottom: 40px;
    }
    
    #pic4 {
        position: absolute;
        top: 36.5%;
        left: 35.5%;
        padding-bottom: 40px;
    }
    
    #pic5 {
        position: absolute;
        top: 63%;
        left: 3%;
    }

    #pic6 {
        position: absolute;
        top: 63%;
        left: 35.5%;
    }

    #pic7{
        position:absolute;
        top:90%;
        left:3%;
        padding-top: 15px;
    }

    #gametext {
        position: absolute;
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align-last: center;
        padding: 2%;
        width: 28%;
        height: 2%;
        z-index: 2;
        top: 30.2%;
        left: 3%;
        line-height: 10%;
    }
    
    #soccertext {
        position: absolute;
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align-last: center;
        padding: 2%;
        width: 28%;
        height: 2%;
        z-index: 2;
        top: 30.2%;
        left: 35.5%;
        line-height: 10%;
    }
    
    #tattootext {
        position: absolute;
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align-last: center;
        padding: 2%;
        width: 28%;
        height: 2%;
        z-index: 2;
        top: 56%;
        left: 3%;
        line-height: 10%;
    }
    
    #musictext {
        position: absolute;
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align-last: center;
        padding: 2%;
        width: 28.1%;
        height: 2%;
        z-index: 2;
        top: 56%;
        left: 35.5%;
        line-height: 10%;
    }
    
    #movietext {
        position: absolute;
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align-last: center;
        padding: 2%;
        width: 28.1%;
        height: 2%;
        z-index: 2;
        top: 83.4%;
        left: 3%;
        margin-top: 15px;
        line-height: 10%;
    }

    #crystaltext {
        position: absolute;
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align-last: center;
        margin-bottom: 20px;
        padding: 2%;
        width: 28.1%;
        height: 2%;
        z-index: 2;
        top: 83.4%;
        left: 35.5%;
        line-height: 10%;
    }

    #triviatext {
        position: absolute;
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align-last: center;
        padding: 2%;
        width: 28.1%;
        height: 2%;
        z-index: 2;
        top: 110.4%;
        left: 3%;
        margin-top: 15px;
        line-height: 10%;
    }